{% extends "::base.html.twig" %}


{% block body %}
    <div class="container userstats">
        <h1>Statistiques des personnes inscrites</h1>
        <div>
            Rappel du nombre d'utilisateurs enregistrés : <b> {{ totalusers }} </b>
        </div>

        <br>
        <h2> Nombre d'hommes et de femmes </h2>
        <table class="table bordered striped table-bordered centered">
            <thead>
                <th>Genre</th>
                <th>Nombre</th>
                <th>Pourcentage</th>
            </thead>
            {% for gender in genders %}
                <tr>
                    <td>{{ gender.gender }}</td>
                    <td>{{ gender.nb }}</td>
                    <td>{{ gender.nb/totalusers*100 }}%</td>

                </tr>
            {% endfor %}
        </table>

        <br>

        <h2> Liste des statuts les plus enregistrés </h2>
        <table class="table bordered striped table-bordered centered">
            <thead>
                <th>Statut</th>
                <th>Nombre</th>
                <th>Pourcentage</th>
            </thead>
            {% for status in statuses %}
                <tr>
                    <td>{{ status.status }}</td>
                    <td>{{ status.nb }}</td>
                    <td>{{ status.nb/totalusers*100 }}%</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2> Liste des départements les plus enregistrés </h2>
        <table class="table bordered striped table-bordered centered">
            <thead>
            <th>Département</th>
            <th>Nombre</th>
            <th>Pourcentage</th>
            </thead>
            {% for department in departments %}
                <tr>
                    <td>{{ department.department }}</td>
                    <td>{{ department.nb }}</td>
                    <td>{{ department.nb/totalusers*100 }}%</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2> Liste des catégories d'âge </h2>
        <table class="table bordered striped table-bordered centered">
            <thead>
                <th>Catégorie d'âge</th>
                <th>Nombre</th>
                <th>Pourcentage</th>
            </thead>
            {% for age in agecategory %}
                <tr>
                    <td>{{ age[0] }}</td>
                    <td>{{ age[1] }}</td>
                    <td>{{ age[1]/totalusers*100 }}%</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h2> liste des inscrits à la newsletter </h2>
        <table class="table bordered striped table-bordered ">
            <thead>
                <th>Email</th>
            </thead>
            {% for subscriber in subscribers %}
                <tr><td>{{ subscriber.email }}</td></tr>
            {% endfor %}
        </table>


            <ul class="pagination">
                <li {% if page == 1 %} class="disabled" {% endif %}>
                    <a href="{{ path('userstats', {'page': page-1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in 1 .. maxPage %}
                    <li {% if page == i %} class="disabled" {% endif %}>
                        <a href="{{ path('userstats', {'page': i}) }}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}
                <li {% if page == maxPage %} class="disabled" {% endif %}>
                    <a href="{{ path('userstats', {'page': page+1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>


    </div>
{% endblock %}