{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col s10 offset-s1 offset-m2 m8">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
        <div class="col s10 offset-s1 offset-m2 m8 center-align">
            <a class="btn waves-effect waves-light tag_btn" href="{{ path('learnmore') }}">Comment ça marche ?</a>
            <a class="btn tag_btn waves-effect waves-light" href="{{ path('job_select') }}">Taguer un métier</a>
        </div>
    </div>
{% endblock fos_user_content %}
