{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<h1 class="center-align">Joue à Tag ton métier<br><small> et tente de gagner un smartphone !</h1>
<div class="row" id="login_form">
    <div class="col offset-s1 s10 offset-m2 m8 offset-l3 l6">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn waves-effect waves-light" href="{{ path('job_select') }}">Tagger un métier</a>
            <a class="btn waves-effect waves-light" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
        {% else %}
        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

            <div class="login_checkbox col-xs-12">
                <a  href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            </div>


            <br>

            <button class="btn waves-effect waves-light" id="_submit" type="submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
            <input type="hidden" name="_target_path" value="job_select" />

            <a class="btn waves-effect waves-light" id="countRegisterButton" href="{{ path('fos_user_registration_register') }}">PAS ENCORE INSCRIT ?</a>
            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        </form>
        {% endif %}
    </div>
</div>