{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Vos réponses</h1>

        <h2>Choisissez vos mots-clés :</h2>
        <div class="ui-widget">
            <label for="tags">Mots-clés:</label>
            <input id="tags">
        </div>

        <div id="tagsname"></div>
        <div id="nbresponse"></div>
        <div id="tagdisplay"></div>


        <div class="bloc_sp_xs"></div>


        {{ form_start(form) }}
        <div>
            {{ form_row(form.bonusWord, {label:'Mot libre :'})}}
        </div>

        <div id="checkboxfield">
            {{ form_row(form.answers, {label:none, 'attr': {'class': 'hidden-row'}})}}
            {{ form_widget(form) }}
        </div>

        <input class="btn jevote" type="submit" value="Je vote!">

        {{ form_end(form) }}
    </div>

    <div class="bloc_sp_s"></div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- jQuery UI -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Script autocomplete -->
    <script type="text/javascript">

        var response = [];
        i=0;
        {% for answer in answers %}
            response[i]= "{{ answer }}";
            i=i+1;
        {% endfor %}

        $( function() {

            $( "#tags" ).autocomplete({
                source: response,
                minLength: 1
            });
        });
    </script>

    <script type="text/javascript" src="{{ asset('/js/autocomp.js') }}"></script>
    <!-- Main script -->
    <script type="text/javascript" src="{{ asset('/js/main.js') }}"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
{% endblock %}